####-*.patch
*.pyc
*.swp
build/
dist/
*.egg/
/electrum.py
contrib/pyinstaller/
Electrum_LTC.egg-info/
locale/
.devlocaltmp/
*_trial_temp
packages
env/
.tox/
.buildozer/
bin/
/app.fil

# tox files
.cache/
.coverage

.idea/

contrib/build-wine/tmp
