# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight Garlicoin Client
Exec=garlium %u
GenericName[en_US]=Garlicoin Wallet
GenericName=Garlicoin Wallet
Icon=garlium
Name[en_US]=Garlium Garlicoin Wallet
Name=Garlicoin Garlium Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/garlicoin;

